@media print {
	.noprint {
		display: none !important;
	}
}

@media screen {
	.box {
		display: flex;
		flex-flow: column;
	}
	.box .row.header {
		flex: 0 1 auto;
	}
	.box .row.content {
		flex: 1 1 auto;
		overflow: auto;
	}
	.box .row.footer {
		flex: 0 1 auto;
	}
	.noscreen {
		display: none !important;
	}
}

.box {
	height: 100%;
}

.box .row.header {
	padding: 5px;
}

.box .row.content {
	padding: 5px;
}

.box .row.footer {
	padding: 5px;
}

.button {
	border: 1px solid black;
	background-color: #dddddd;
	cursor: pointer;
	padding-left: 3px;
	padding-right: 3px;
}

.roundpadded {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin: 3px;
	display: inline-block;
	border-radius: 8px;
}

a.selected {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

a.button:link {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

a.button:visited {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

a.button:hover {
	color: inherit;
	font-weight: normal;
	text-decoration: none;
}

.default-cursor {
	cursor: default;
}

.pointer-cursor {
	cursor: pointer;
}

.underlined {
	text-decoration: underline;
}

.monospaced {
	font-family: monospace, monospace;
}

.pre-wrap {
	white-space: pre-wrap;
}

.right {
	text-align: right !important;
}

.left {
	text-align: left !important;
}

.center {
	text-align: center !important;
}

.centermargin {
	margin-left: auto;
	margin-right: auto;
}

.top {
	vertical-align: top;
}

.bottom {
	vertical-align: bottom;
}

.middle {
	vertical-align: middle;
}

.nowrap {
	white-space: nowrap;
}

.fill_horizontal, fill_both {
	width: 100%;
}

.fill_vertical, fill_both {
	height: 100%;
}

.no_underline {
	text-decoration: none;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.striketrough {
	text-decoration: line-through;
}

table {
	width: auto;
}

.colortable th {
	text-align: left;
	background-color: #a0e4fa;
	white-space: nowrap;
}

.colortable td.paramtype {
	text-align: right;
}

.colortable tr:nth-child(odd) {
	background-color: rgb(254, 255, 230);
}

.colortable tr:nth-child(even) {
	background-color: rgb(240, 255, 223);
}

.colortable tr:hover {
	background-color: #ffff80 !important;
}

.lime_background, tr.lime_background {
	background-color: lime !important;
}

.red_background, tr.red_background {
	background-color: red !important;
}

.blue_background, tr.blue_background {
	background-color: blue !important;
}

.orange_background, tr.orange_background {
	background-color: orange !important;
}

.red_background, tr.red_background {
	background-color: #ff8a8a !important;
}

.gray_background, tr.gray_background {
	background-color: rgb(247, 247, 247) !important;
}

.white_background, tr.white_background {
	background-color: white !important;
}

.green_background, tr.green_background {
	background-color: rgb(0, 255, 0) !important;
}

.orange_background, tr.orange_background {
	background-color: rgb(255, 182, 109) !important;
}

.highlighted {
	background-color: fuchsia !important;
	color: yellow !important;
}

.tableFixHead {
	overflow: auto
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

.tableFixHead tbody th {
	position: sticky;
	left: 0;
}

table td.fit, table th.fit {
	white-space: nowrap
}

table td.expand, table th.expand {
	width: 99%
}

.hidden {
	display: none;
}

html.borderless, html.borderless body, .borderless {
	height: 100%;
	margin: 0;
}

.sidepad {
	padding-left: 1em;
	padding-right: 1em;
}

.pagebreak {
	page-break-after: always;
}

.newpage {
	page-break-before: always;
}

.newpage_left {
	page-break-before: left;
}

.newpage_right {
	page-break-before: right;
}

.nopagebreak {
	page-break-inside: avoid;
}